!!! 5
%html
  %head
    %link{:href => "stylesheets/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/base/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"}
    %script{:src => "javascripts/newspaper.js"}
    %link{:href => "stylesheets/newspaper.css", :rel => "stylesheet", :type => "text/css"}
  %body
    
    #box
      %h1 Edit article permissions
      %table.table.table-striped
        %thead
          %tr
            %th Article title
            %th Author
            %th Word count
            %th Photo
            %th Public can edit
            %th Public can read
            %th Writers can edit
            %th Writers can read
            %th Editors can edit
            %th Editors can read
        %tr
          %td Folt speaks at Assembly meeting
          %td Sean Connoly
          %td 650
          %td ✔
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
        %tr
          %td Dartmouth grad hits the ER on ‘Grey’s Anatomy’
          %td Jessica Peet
          %td 900
          %td ✘
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
        %tr
          %td Hanover considers parking changes
          %td Ester Cross
          %td 850
          %td ✘
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
        %tr
          %td Local businesses use social media
          %td Amelia Rosch
          %td 700
          %td ✔
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
        %tr
          %td AP credit policy change attracts media attention
          %td Ashley Ulrich
          %td 970
          %td ✔
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}
          %td
            %input{:type => "checkbox"}