%html
  %head
    %link{:href => "stylesheets/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => "javascripts/password.js"}
    %link{:href => "stylesheets/password.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #box
      #box-heading
        %h2.box-heading Create an account
      #box-body
        %form.form-horizontal
          .control-group
            %label.control-label{:for => "inputUsername"} Username
            .controls
              %input#inputUsername{:placeholder => "Username", :type => "text"}
          .control-group
            %label.control-label{:for => "inputPassword"} Password
            .controls
              %input#inputPassword{:placeholder => "Password", :type => "password"}
          .control-group
            %label.control-label{:for => "inputConfirmPassword"} Confirm Password
            .controls
              %input#inputConfirmPassword{:placeholder => "Confirm Password", :type => "password"}
          .control-group
            .controls
              %button.btn{:type => "submit"} Create Account